body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.main-navbar {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: #25292e;
    color: white;
    font-size: 20px;
    font-family: -apple-system, "Segoe UI", Arial, sans-serif;
}

.main-navbar a {
    text-decoration: none;
    color: white;
}

.main-navbar a:visited, .main-navbar a:active {
    color: white;
}

.main-navbar > ul {
    width: 100%;
    display: flex;
}

.nav-items {
    display: flex;
}

.nav-items > li, .main-navbar > ul > li {
    list-style: none;
    margin: 0 5px;
}

.auth-btns {
    margin-left: auto;
    display: flex;
}

.auth-btns > li {
    margin: 0 10px;
}
